.container h1::before {
    position: absolute;
    content: attr(data-text);
    text-shadow: 0px 0px 20px var(--var-color);
    filter: blur(10px) brightness(0);
    animation: flicker 5s linear forwards;
    animation-delay: 1s;
  }

  